* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    perspective: 2000px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    /* transform: rotate3d(20deg, -5deg, 10deg); */
    transform: rotateX(50deg) rotateY(-5deg) rotateZ(20deg) translate(-200px, -100px);
    display: grid;
    width: 140rem;
    grid-template-columns: repeat(20, 1fr);
    transition: 0.5s;
}

.tile {
    width: 100%;
    aspect-ratio: 1;
    border: 1px solid white;
    transition: 1s ease-out;
}

.tile:hover {
    transition: 0s;
    background-color: #fff;
}